version: '3'
services:
  
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    links:
      - db

  db:
    image: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=dummy
    ports:
      - 3306:3306